<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="headFragment">

  <head>
    <meta charset="utf-8" />
    <title>this is title</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}" rel="stylesheet" />
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js}" crossorigin="anonymous"></script>
    <link th:href="@{bootstrap/css/styles.css}" rel="stylesheet" />

    <script src="" th:src="@{lib/jquery-3.6.0.min.js}"></script>
    <script src="" th:src="@{lib/restAjax.js}"></script>
  </head>
</th:block>
</html>